.root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-md);
  padding: 20px;
  color: var(--text-color);
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.checkbox {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.item {
  padding: 0 40px 0 50px;
  &:hover {
    cursor: pointer;
  }
}

.dateTime {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.deleteButton {
  position: absolute;
  top: inherit;
  right: 14px;
  display: flex;
}

.deleteIcon {
  color: light-dark(#dee2e6, #495057);
  &:hover {
    color: var(--mantine-color-red-7);
  }
}
