.root {
  position: relative;
  padding: 1rem;
  transition: border-color 150ms ease;

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.label {
  padding-right: 40px;
  font-size: 1.1rem;
  line-height: 1.3;
  
  @media (max-width: 426px) {
    font-size: 1rem;
  }
}

.titleGroup {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: 8px;
  color: var(--mantine-color-dimmed);
  font-size: 0.9rem;
}

.deleteBtn {
  position: absolute;
  top: inherit;
  right: 14px;
  display: flex;
}

.deleteIcon {
  color: light-dark(#dee2e6, #495057);
  &:hover {
    color: var(--mantine-color-red-7);
  }
}
